body {
    width: 100%;
}

.logo_contaner_mobile {
    display: none;
}

.header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    margin: auto 24px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-size: 24px;
}

.logo_contaner {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo_img {
    height: 2rem;
}

.logo_name span {
    color: gray;
}

.main_menu {
    display: flex;
    align-items: center;
    height: 2rem;
}

li {
    list-style-type: none;
    padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
    .logo_contaner,
    .main_menu {
        display: none;
    }
}